<br>
<div class="container section ">
    <div class="row ">
        <form class="col s12">
            <div class="card-panel">

                <div class="row">

                    <!-- NAME -->
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>

                    <!--APELLIDO-->
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>

                <!--Email y password-->
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>                    
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="phone" type="text" class="validate">
                        <label for="phone">Phone</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>